.footer-background-color {
  background-color: #222222;
}
@media (min-width: 1220px) {
  .footer-right-border {
    border-left: 2px rgba(225, 225, 225, 0.15) solid;
    padding-left: 65px;
  }
}

.footer-content-padding {
  padding: 5% 2%;
}

.terms-and-condition-background {
  background-color: #010101;
}

.terms-and-condition-padding {
  padding: 0.5% 0.5%;
}

.a-tag-styles {
  margin-top: 1em;
  margin-bottom: 1em;
}

.right-solid-border {
  border-right: 1px solid;
}

.gold-text {
  color: #b79967;
}

.hyper-link-remove-underline {
  text-decoration: none;
}

.footer-list-padding {
  padding-top: 14px;
}

.footer-prft-logo {
  width: 140px;
  height: 31px;
}

.external-footer-icons{
  background-color: #b79967;
  color:#222222;
}
