.landingPageImg {
  background-image: url(../../assets/Hero-box-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hero-overlay-padding {
  padding-left: 3%;
  max-width: 100%;
}

.landing-text-padding {
  padding-left: 2%;
  padding-top: 9%;
}

.roi-button {
  background-color: #cc1f20;
  padding: 1vh 0.5vh;
  color: white;
  border-radius: 1px;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 17px;
}

.row-bottom-padding {
  padding-bottom: 3%;
}

.heading-content-style {
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
}
