.bgImgCircle {
  background-image: url(../../assets/Digital-Debt-BG.jpg);
  background-size: contain;
}
.padding-bottom {
  padding-bottom: 5%;
}

.content-padding {
  padding-left: 5%;
}

.myWidget {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.font-size-12 {
  font-size: 12px;
}

.heading-style {
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
}

.center-title-style {
  font-size: x-large;
}
