.bgImgCalculator {
  background-image: url(../../assets/ROI-BG.jpg);
}

.bank-name-margin {
  margin-top: 0%;
}

.financial-institution-margin {
  margin-bottom: auto;
}

.select-label-baseStyle {
  min-width: 67%;
  font-size: 1.3rem;
  border-radius: 9px;
  min-height: 90%;
  border: solid 1px #e6e6e6;
  background-color: #fafafa;
}

.improvement-value-row-height {
  min-height: 90%;
}

.improvement-row-margin-bottom {
  margin-bottom: 3%;
}

.payback-row-height {
  min-height: 11.8%;
}

.calculator-heading-content-style {
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
}

.bank-name-font {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 1.9rem;
}

.disclaimer-font {
  font-weight: 400;
}
