/* .App {
  text-align: center;
} */

.text-color-white {
  color: white;
}

.text-color-black {
  color: black;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.container-top-bottom-padding {
  padding-top: 2%;
  padding-bottom: 2%;
}

.form-label-row-padding {
  padding-bottom: 1%;
}
.form-input-row-margin-bottom {
  margin-bottom: 5%;
}
.component-header-font-white {
  font-family: Lato, sans-serif;
  font-size: 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}
/* LandingPage component styles */
.landing-page-header-2-fonts {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #222222;
}

.landing-page-header-3-fonts {
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #58595b;
}
.landing-page-header-top-right-fonts {
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #ffffff;
}
.landing-page-roi-button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 17px;
  box-shadow: 0 6px 16px 0 rgba(3, 26, 59, 0.2);
  background-color: #cc1f20;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border: none;
}
/* TextContent1 component styles */
.header-1-font-styles {
  font-family: Lato, sans-serif;
  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #ffffff;
}
.header-2-font-styles {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #ffffff;
}

.image-text-font-styles {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #010101;
}
/* TextContent2 component styles */
.textcontent2-font-styles {
  font-family: Lato, sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: #000000;
}
/* Calculator component styles */
.Your-Potential-ROI-fonts {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #ffffff;
}
.calculator-label-font-style {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fcfcfc;
}
.calculator-label-disclaimer-font-style {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fcfcfc;
}
.calculator-footer-bottom-text-font-style {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}
.bank-name-font-style {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.87;
  letter-spacing: normal;
  color: #ffffff;
}
/* Contact Us component styles */
.contact-form-label-font-style {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.contact-form-heading-font-style {
  font-family: Lato, sans-serif;
  font-size: 60px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.87;
  letter-spacing: normal;
  color: #010101;
}

.contact-form-text-1-font-style {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #000000;
}

.contact-form-text-2-font-style {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: #000000;
}

.contact-form-email-link-font-style {
  color: #cc1f20;
}

.contact-form-input-style {
  min-width: 67%;
  font-size: 14px;
  border-radius: 9px;
  min-height: 200%;
  border: solid 1px #d1d1d1;
  background-color: #f3f3f3;
}

.contact-form-textArea-style {
  min-width: 84%;
  height: auto;
  font-size: 14px;
  border-radius: 9px;
  min-height: 100%;
  border: solid 1px #d1d1d1;
  background-color: #f3f3f3;
}

.contact-form-submit-button {
  width: 106px;
  height: 58px;
  margin: 35px 232px 0 0;
  padding: 17px 13px 15px;
  box-shadow: 0 6px 16px 0 rgba(3, 26, 59, 0.2);
  background-color: #cc1f20;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border: none;
}
/* Footer component styles */

.footer-bottom-text-font-style {
  font-family: Lato, sans-serif;
  font-size: 0.75rem;
  font-weight: 100;
}
