.bgImg1 {
  background-image: url(../../assets/Digital-Transformation-BG.jpg);
  background-size: contain;
}

.imge-div-1-1 {
  border: solid;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.align-left {
  text-align: left;
}

.margin-bottom {
  margin-bottom: 3%;
}

.p-padding {
  padding-left: 2%;
}

.row-1-padding {
  padding-bottom: 4%;
}

.p-padding-bottom-row-2 {
  padding-bottom: 7%;
}

.img-width {
  width: 100%;
}
